body {
	font-family: PT Sans, 'PT Sans', Arial, sans-serif;
	background: #fff;
	margin: 0;
}

article, nav.pagination, nav.links div, footer {
	margin: 0 auto;
	padding: 1.2% 2%;
	width: 92%;
}

header {
    background: #333;
    padding: 6px 20px;
    color: #EEE;
}

nav.links {
	background: #EBEBEB;
}
nav.links div {
	padding: 0;
}
nav.links a {
	padding: 1.2% 1em;
	display: inline-block;
	text-decoration: none;
	color: #333;
}

@media screen and (min-width: 800px) {
	header a, article, nav.pagination, nav.links div, footer {
		max-width: 960px;
		min-width: 400px;
	}
}

header a {
	display: block;
    margin: 0px auto;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

h1, h2 {
	margin: 0;
}

ul h2 {
	display: inline;
}

h3 {
	text-transform: uppercase;
	font-size: 100%;
}

h4 {
	color: #444;
	font-weight: normal;
}

a {
	color: inherit;
}

dl dt {
	font-weight: bold;
}

code.hljs {
	background: #f6f6f6;
	border: 1px solid #d0d0d0;
	overflow-x: auto;
}
code.has-jax {
	font: inherit; 
	font-size: 85%; 
	background: inherit; 
	border: inherit;
}
div.footnotes {
	margin: 0.6em 0 0;
	border-top: 1px solid #c0c0c0;
}

/*** post ***/
.author, .date {
	color: #666;
	font-style: italic;
}
.author:after {
	content: " — ";
}