body, .pure-g [class*="pure-u"] {
  font-family: Lato, 'Lato', sans-serif;
}

/*** Generic styles ***/

h1, h1 .pure-g [class*="pure-u"] {
  font-family: Lato Light;
  font-weight: 200;
}
h1 a {
  display: block;
  text-decoration: none;
}

a {
  color: #657556;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*** Header ***/
header {
  background: #BBE694;
}
header .pure-menu-link {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  color: #202020;
}

.site-title.pure-menu-heading {
  text-transform: none;
  padding-left: 2.4em;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin: 0.6em 0;
  text-decoration: none;
}
.sites {
  text-align: right;
}

/*** Posts ***/
h1 {
  background: #BBE694;
  margin: 0;
  font-size: 250%;
}
h1 a {
  padding-top: 2rem;
  color: #202020;
}
.post-data {
  background: #D3F5B4;
  padding: 0.6rem 0;
}
  .date {
    display: inline-block;
    margin-left: 1.2rem;
    color: #888;
  }
  .edit-button {
    text-align: right;
    display: none;
  }

.post-content {
  margin-bottom: 1.8rem;
}
  .share {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
    .share:hover {
      filter: none;
      -webkit-filter: grayscale(0);
    }
    .share img {
      width: 1.6rem;
    }

/*** Pagination ***/
nav.pagination {
  margin: 1.2rem 0;
}
nav.pagination .paginator {
  color: #888;
  text-align: center;
  vertical-align: middle;
}
nav.pagination .paginator a {
  display: block;
}
nav.pagination .paginator:first-child {
}


/*** Footer ***/
footer {
  background: #D3F5B4;
}

/**********
 Tablet (and up) styles
**********/

@media (min-width: 48em) {
  .site-title.pure-menu-heading:before {
    content: "dgiim";
  }
  h1 {
    font-size: 300%;
  }
  .edit-button {
    display: inline-block;
  }
}