---
layout: default
title: Categorías
permalink: /categories/
---

<article>
    {% for category in site.categories %}
        <ul class="categories">
            <li><a href="#{{ category | first }}">{{ category | first }}</a></li>
        </ul>
    {% endfor %}
</article>
{% for category in site.categories %}
    <article>
        <h1 id="{{ category | first }}">{{ category | first }}</h1>
        <ul class="posts">
        {% assign posts = category | last %}
        {% for post in posts %}
            <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
            <span class="author">por 
                {% assign authorCount = post.authors | size %}
                {% if authorCount == 0 %}
                    Sin autor
                {% else %}
                    {% for author in post.authors %}
                        {% if forloop.first %}
                            {% assign authdata = site.authors[author] %}
                            <a href="http://github.com/{{ authdata.github }}">{{ authdata.name }}</a>
                        {% elsif forloop.last %}
                            {% assign authdata = site.authors[author] %}
                            y <a href="http://github.com/{{ authdata.github }}">{{ authdata.name }}</a>
                        {% else %}
                            {% assign authdata = site.authors[author] %}
                            , <a href="http://github.com/{{ authdata.github }}">{{ authdata.name }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </span>
            <span class="date">{{ post.date | date: "%e-%m-%Y" }}
        {% endfor %}
        </ul>
    </article>
{% endfor %}