---
layout: default
title: Categorías
permalink: /categories/
---

<style type="text/css">.l-cat { background: #fff; }</style>

<article>
    <h1>Categorías</h1>
    <h4>Lista de categorías</h4>
    <ul>
        {% for category in site.categories %}
            <li><a href="#{{ category | first }}">{{ category | first }}</a></li>
        {% endfor %}
    </ul>
</article>

{% for category in site.categories %}
    <article>
        <h2 id="{{ category | first }}">{{ category | first }}</h2>
        {% assign posts = category | last %}
        {% for post in posts %}
            {% include list_post.ext %}
        {% endfor %}
    </article>
{% endfor %}
