---
title: Blog - DGIIM
layout: default

---
<style type="text/css">.l-home { background: #fff; }</style>

{% for post in paginator.posts %}
  {% assign content = post.content %}
  {% if post.content contains '<!--more-->' %}
		{% assign content = content | split:'<!--more-->' | first %}
		{% assign content = content | append: '<p><a href="' | append: site.baseurl | append: post.url | append: '">Seguir leyendo...</a></p>'%}
	{% endif %}
  <article>{% include post.ext %}</article>	
{% endfor %}


{% include pagination.ext %}
