body, .pure-g [class*="pure-u"] { font-family: Lato, 'Lato', sans-serif; }

/*** Generic styles ***/
h1, h1 .pure-g [class*="pure-u"] { font-weight: 300; }
h1 a, h1 .pure-g [class*="pure-u"] a { display: block; text-decoration: none; }

a { color: #2b3c4e; text-decoration: none; }

a:hover { text-decoration: underline; }

/*** Header ***/
header { background: #6789ab; }

header .pure-menu-link { padding-top: 1.1em; padding-bottom: 1.1em; color: #eee; }

.site-title.pure-menu-heading { text-transform: none; padding-left: 2.4em; background-image: url("../assets/logo.png"); background-repeat: no-repeat; background-size: auto 100%; margin: 0.6em 0; text-decoration: none; }

.sites { text-align: right; }

.sites a, .sites a:hover { background: transparent; }

.sites a:hover { color: #e1e1e1; }

/*** Posts ***/
h1 { background: #6789ab; margin: 0; font-size: 250%; }
h1 a { padding-top: 2rem; color: #eee; }

.post-data { background: #a8bccf; padding: 0.6rem 0; }
.post-data .date { display: inline-block; margin-left: 1.2rem; color: #666; }
.post-data .edit-button { text-align: right; display: none; }

.post-content { margin-bottom: 1.8rem; line-height: 1.3em; }
.post-content img { max-width: 100%; }
.post-content .fig { text-align: center; }
.post-content .med img { max-width: 30em; }
.post-content .share { filter: gray; filter: grayscale(1); -webkit-filter: grayscale(1); }
.post-content .share img { width: 1.6rem; }
.post-content .share .dsq-comment-count { background: url("/blog/assets/sq_comment.png") no-repeat scroll 0% 0%/auto 100% #303030; color: #fff; display: inline-block; height: 1.5rem; padding: 0.1rem 0.35rem 0 1.9rem; text-decoration: none; vertical-align: top; }
.post-content .share:hover { filter: none; -webkit-filter: grayscale(0); }
.post-content .post-editors { font-style: italic; text-align: right; }

dl dt { font-weight: bold; }

dl dd { margin: 0.4em 0; }

dl, code.hljs { background: #f6f6f6; border: 1px solid #d0d0d0; overflow-x: auto; margin-top: 0; margin-bottom: 0; padding: 0.6rem; display: block; }

dl code.hljs, dl dl { border-width: 1px 0; }

code.hljs, code { font-family: "Source Code Pro", monospace; font-size: 0.8rem; }

code.has-jax { font: inherit; font-size: 85%; background: inherit; border: inherit; }

div.MathJax_Display { max-width: 100%; overflow-x: auto; overflow-y: hidden; }

/*** Pagination ***/
nav.pagination { margin: 1.2rem 0; }
nav.pagination .paginator { color: #888; text-align: center; vertical-align: middle; }
nav.pagination .paginator a { display: block; }
nav.pagination .paginator:first-child > *, nav.pagination .paginator:last-child > * { padding: 0.6rem 0; }
nav.pagination .paginator:first-child a:hover, nav.pagination .paginator:last-child a:hover { background: #c9d5e1; }

/*** Footer ***/
footer { background: #c9d5e1; padding-bottom: 1.2rem; }

/********** Tablet (and up) styles
**********/
@media (min-width: 48em) { .site-title.pure-menu-heading:before { content: "dgiim"; color: #d4d4d4; }
  h1 { font-size: 300%; }
  .post-data .edit-button { display: inline-block; } }
