<p class="post-list">
  <a href="{{- site.baseurl -}}{{- post.url -}}">{{- post.title -}}</a>
  {%- assign authorCount = post.authors | size -%}
  {%- if authorCount > 0 -%}
    <span class="author">por
      {%- for author in post.authors -%}
        {%- if forloop.first -%}
          {%- assign authdata = site.authors[author] -%}
          <a href="http://github.com/{{- authdata.github -}}">{{- authdata.name -}}</a>
        {%- elsif forloop.last -%}
          {%- assign authdata = site.authors[author] -%}
          y <a href="http://github.com/{{- authdata.github -}}">{{- authdata.name -}}</a>
        {%- else -%}
          {%- assign authdata = site.authors[author] -%}
          , <a href="http://github.com/{{- authdata.github -}}">{{- authdata.name -}}</a>
        {%- endif -%}
      {%- endfor -%}
    </span>
  {%- endif -%}
</p>
