---
---

//$theme: lighten(#34495e, 15%);
$theme: #d0d0d0; // de da da da
$accent: #3070a0;
$foreground: #505050;

body, .pure-g [class*="pure-u"] {
    font-family: Lato, 'Lato', sans-serif;
    font-size: 16px;
}

body {
    background: #ffffff;
}

/*** Generic styles ***/

h1, h1 .pure-g [class*="pure-u"] {
    //font-weight: 300;
    font-size: 2.5rem;
    font-weight: 600;

    & > a {
        display: block;
        //text-decoration: none;
    }
}

a {
    color: $accent;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


/*** Header ***/
header {
    background: lighten($theme, 10%);
    //border-bottom: 1px solid $theme;
    box-shadow: 0 2px 2px -1px $theme;
    font-size: 0.9em;
    line-height: normal;

    .pure-menu-link {
        padding-top: 1.1em;
        padding-bottom: 1.1em;
        color: $foreground;

        &.social-link {
            color: lighten($theme, 30%);
        }
    }

    .site-title {
        text-transform: none;
        background-image: url("{{ site.assets_path }}/images/logo.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        margin: 0.6em 0;
        padding: 0.6em 1em 0.6em 2.4em;
        text-decoration: none;

        &:before {
            content: "LibreIM";
            font-size: 1rem;
            padding-left: 0.4em;
            color: darken($foreground, 10%);
        }
    }

    .sites {
        text-align: center;
        float: right;
        clear: both;
        width: 100%;
        display: block;
        overflow: hidden;
        //font-size: 0.9em;
        //font-weight: 600;
        //text-transform: uppercase;
        transition: height .2s ease-in-out;

        a {
            padding: 0.6em 0.6em;
            background: transparent;
            text-decoration: none;
            display: block;
            border-top: 1px solid $theme;
        }
        a:hover {
            text-decoration: none;
            color: $accent;
            background: $theme;
        }
    }

    #show-menu {
        display: none;

        & + label {
            &:before {
                font-size: 2rem;
                float: right;
                display: inline-block;
                padding: 0.5rem;
                cursor: pointer;
            }

            &:hover {
                color: $accent;
            }
        }

        &:not(:checked) + label {
            &:before {
                content: "\2261";
            }
            & + .sites {
                height: 0;
            }
        }
        &:checked + label {
            &:before {
                content: "\2715";
            }
            & + .sites {
                height: 13rem;
            }
        }
    }
}

/*** Site layout ***/
.container {
    padding: 1.4rem 0;
}
.tag-tree {
    list-style: none outside none;
    &.level-1 {
        padding: 0;
    }

    &.level-2 {
        li {
            &:before {
                color: lighten($foreground, 50%);
            }
        }
    }
    
    li {
        &:before {
            content: "";
            font-family: "iconim", iconim;
            display: inline-block;
            padding-right: 0.6rem;
            color: lighten($foreground, 33%);
        }
    }
}

/*** Posts ***/
article {
    // padding-top: 1.4rem;
    margin-bottom: 1.8rem;

    &.post {
        padding-bottom: 1rem;
    }

    p, ul, .post-content {
        line-height: 1.6em;
    }

    .category {
        text-transform: uppercase;
        color: darken($theme, 25%);
        font-size: 0.94em;
    }

    .breadcrumbs {
        .separator {
            &:before {
                content: " /";
            }
        }
    }

    h1 {
        //background: lighten($theme, 10%);
        margin: 0 0 1rem 0;

        a {
            padding-top: 0.6rem;
            color: $foreground;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .post-title {
        display: block;
        margin: 1rem 0;

        &:first-child {
            margin-top: 0;
        }

        .title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-right: 1rem;
        }
    }

    .post-data {
        background: lighten($theme, 30%);
        padding: 0.6rem 0 0;
        font-size: 0.94em;
        color: darken($theme, 40%);

        a, span {
            display: inline-block;
            color: darken($theme, 40%);
            margin-bottom: 0.6rem;
            padding: 0 .4em;

            &.date, &.comments, &.edit, &.license {
                margin-left: 0.6rem;
                background: lighten($theme, 10%);
            }

            &.author {
                background: lighten($accent, 50%);
            }
            &.license {
                background: complement(lighten($accent, 50%));
            }
            &.selected {
                color: #000;
                cursor: default;
                text-decoration: none;
            }
        }

        .tag-list {
            margin: 0;
            a {
                padding: 0 .2em;
                & + .separator {
                    &:before {
                        content: " ·";
                    }
                }
            }
        }
    }

    .post-link {
        display: inline-block;
        background: lighten($accent, 10%);
        margin-left: 0.6rem;
        padding: 0 .8rem;
        color: lighten($theme, 40%);
        font-size: 1.2rem;
        vertical-align: middle;
        line-height: 2em;
    }

    img {
        max-width: 100%;
    }

    .fig, .note {
        text-align: center;
        border: 1px solid #d0d0d0;
        overflow-x: auto;
        margin: 0 0 1rem;
        padding: 0.6rem 0.6rem 0.8rem;
        display: block;

        img {
            display: block;
            margin: 0 auto 0.6rem;
        }
    }

    .med img {
        max-width: 30rem;
    }

    .small img {
        max-width: 18rem;
    }

    table {
        border: 1px solid #d0d0d0;
        
        thead {
            background: #f6f6f6;
            
    	    th {
    		padding: 0.4rem 0.8rem;
    		border: 1px solid #d0d0d0;
    	    }
    	}

    	td {
    	    padding: 0.4rem 0.8rem;
    	}
    }
    
    .ejercicio {
        background: #f6f6f6;
        border: 1px solid #d0d0d0;
        overflow-x: auto;
        margin: 0 0 1rem;
        padding: 0.6rem;
        
        summary {
            cursor: pointer;
            outline: none;

            p {
                display: inline;
            }
        }
    }

    details {
        summary:before {
            content: "▷";
            display: inline-block;
            margin-right: 0.6rem;
            -webkit-transition: transform 0.2s ease;
            -moz-transition: transform 0.2s ease;
            transition: transform 0.2s ease;
        }

        &[open] summary:before {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    .share {
        //filter: gray;
        //filter: grayscale(1);
        //-webkit-filter: grayscale(1);
        opacity: 0.5;

        img {
            width: 1.6rem;
        }
        .dsq-comment-count {
            background: url('{{ site.baseurl }}/images/sq_comment.png') no-repeat scroll 0% 0% / auto 100% #303030;
            color: #fff;
            display: inline-block;
            height: 1.5rem;
            padding: 0.1rem 0.35rem 0 1.9rem;
            text-decoration: none;
            vertical-align: top;
        }

        &:hover {
            //filter: none;
            //-webkit-filter: grayscale(0);
            opacity: 1;
        }
    }

    abbr {
        text-decoration: none;
    }

    .post-editors {
        font-style: italic;
        text-align: right;
    }
    
}

dl {
    margin-bottom: 1rem;

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0.4em 0;
    }
}

dl, code.hljs, .highlight code {
    background: #f6f6f6;
    border: 1px solid #d0d0d0;
    overflow-x: auto;
    margin-top: 0;
    padding: 0.6rem;
    display: block;
}

dl code.hljs, dl dl, dl .highlight code {
    border-width: 1px 0;
}

code {
    font-family: "Source Code Pro", monospace;
    font-size: 0.92rem;
}

code.has-jax {
    font: inherit;
    font-size: 85%;
    background: inherit;
    border: inherit;
}
div.MathJax_Display {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

blockquote {
    margin-left: 1.6rem;
    padding-left: .8rem;
    border-left: .4rem solid $foreground;
}

/*** Pagination ***/
nav.pagination {
    margin: 1.2rem 0;

    .paginator {
        color: #888;
        text-align: center;
        vertical-align: middle;

        a {
            display: block;

            &.arrow:hover {
                background: lighten($theme, 15%);
            }
        }
        .arrow {
            padding: 0.6rem 0;
            font-size: 2rem;
            font-weight: 600;
            display: block;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

nav.side {
    margin-left: 1.2rem;
    padding-left: 1.2rem;
    border-left: 1px solid lighten($theme, 50%);

    p {
        margin: .6rem 0;
    }

    h3 {
        margin-bottom: 1rem;
    }
}

.home-site {
    background: lighten($theme, 35%);

    .splash {
        padding: 2rem 3rem;

        p {
            text-align: center;
            font-size: 1.25rem;
        }
        .big-text {
            font-size: 2.5rem;
            font-weight: 200;
        }
    }

    .introduction {
        color: white;
        display: block;
        padding: 3rem 0 5rem;
        text-shadow: 0 2px rgba(0,0,0,0.4);

        a {
            text-decoration: underline;
        }

        p {
            line-height: 1.6em;
        }
        
        &.left {
            h1, p {
                text-align: right;
                padding-right: 1rem;
            }
        }

        &.right {
            h1, p {
                padding-left: 1rem;
            }
        }

        background: no-repeat center center darken($theme, 30%);
        background-size: cover;

        &.blackboard {
            background-image: url({{ site.assets_path }}/images/home/blackboard.jpg);
            background-position: 0 30%;
        }
        &.software {
            background-image: url({{ site.assets_path }}/images/home/software.jpg);
            background-position: 20% 30%;
        }
        &.knowledge {
            background-image: url({{ site.assets_path }}/images/home/knowledge.png);
            background-position: 20% center;
        }
        &.community {
            background-image: url({{ site.assets_path }}/images/home/community.jpg);
            background-position: 20% center;
        }

        &.amat {
            background: #555555;
        }
        &.gtg {
            background: darken(#eba9e7, 10%);
        }
        &.intf {
            background: darken(#7ec147, 10%);
        }
        &.pyg {
            background: #3c79d6;
        }
        &.osl {
            background: darken(#a9b6c8, 10%);
        }

        &.odd {
            background: #eeeeee;
            color: $foreground;
            text-shadow: 0 2px rgba(255,255,255,0.4);
        }
        &.even {
            background: lighten($accent, 50%);
            color: $foreground;
            text-shadow: 0 2px rgba(255,255,255,0.4);
        }
    }

    a.introduction {
        transition: box-shadow .2s ease;
        
        &:hover {
            text-decoration: none;
            box-shadow: inset 0 0 2rem rgba(0,0,0,0.4);
        }
    }

    .projects {
        padding: 0 0 3rem;

        .projects-inner {
            text-align: center;

            .card {
                display: inline-block;
                background: $theme;
                padding: 0.5rem 1.5rem;
                width: 9rem;
                height: 12rem;
                margin: 0 1rem 1rem 0;
                vertical-align: top;
                color: inherit;;
                text-decoration: none;
                //border: 1px solid darken($theme, 25%);
                box-shadow: 0 2px 2px rgba(0,0,0,0.1);
                transition: box-shadow .2s ease-in-out;

                .name {
                    transition: color .2s ease-in-out;
                    font-size: 2rem;
                    margin: 1rem 0;
                    color: $foreground;
                }

                .description {
                    font-size: 0.9rem;
                }

                &.more {
                    background: lighten($theme, 8%);
                }

                &:hover {
                    .name {
                        color: $accent;
                    }
                    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
                }
            }
        }
    }
}

/*** icons ***/
.icon {
    &.icon-small {
        font-size: 0.8em;
    }
}


/*** Footer ***/
footer {
    box-shadow: 0 -2px 2px -1px $theme;
    padding-bottom: 1.2rem;
    background-color: lighten($theme, 10%);

    a {
        color: darken($theme, 40%);
    }
}
.align-right {
    text-align: right;
}

/**********
 Tablet (and up) styles
**********/

@media (min-width: 48em) {

    h1 {
        font-size: 3rem;
    }
    article h1 {
        font-size: 2.5rem;
    }
}

/********
 Large screen and up
********/
@media (min-width: 64em) {
    header {
        #show-menu + label {
            display: none;
        }

        .sites {
            text-align: right;
            height: auto !important;

            a {
                display: inline-block;
                padding-top: (1.1em / 0.9);
                padding-bottom: (1.1em / 0.9);
                border: 0px solid;
            }
        }
    }
}

/*******
 Extra-large displays
*******/
@media (min-width: 80em) {
    header {
        .sites {
            a {
                padding-left: (1.1em / 0.9);
                padding-right: (1.1em / 0.9);
            }
        }
    }
}


/*******
Buttons
*******/
a.pure-button-primary, input.pure-button-primary, button.pure-button-primary {
    background-color: $accent; /* Blue */
    &:hover {
        text-decoration: none;
    }
}
.button {
    background-color: $accent; /* Blue */
    border: none;
    color: white;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-border-radius:9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.title-field {
    font-size: 2rem;
}

.em {
    color: lighten($foreground, 25%);
    font-size: 0.9rem;
    font-style: italic;
}
