<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">

      <!-- Layout -->
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css" />

      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic:latin|Source+Code+Pro:400,700:latin" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{{- site.baseurl -}}/assets/fonts/css/iconim.css" />

      <!-- Style -->
      <link rel="stylesheet" type="text/css" href="{{- site.assets_path -}}/css/default.css" />
      <link rel="stylesheet" type="text/css" href="{{- site.assets_path -}}/css/pygments-friendly.css" />

      <!-- RSS Feed -->
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{- site.baseurl -}}/blog/feed.xml" />

      <!-- Favicon -->
      <link rel="shortcut icon" type="image/x-icon" href="{{- site.assets_path -}}/images/favicon.ico" />
      <link rel="apple-touch-icon" sizes="160x160" href="{{- site.assets_path -}}/images/favicon-160.png">
      <meta name="msapplication-TileColor" content="#FFFFFF">
      <meta name="msapplication-TileImage" content="{{- site.assets_path -}}/images/favicon-160.png">
      <meta name="theme-color" content="#6789ab">

      <!-- Mathjax: load asynchronously -->
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script>
      <script type="text/javascript">
        window.addEventListener("load", function() {
          MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [],
              displayMath: [],
            }
          });
        });
      </script>
      
      <title>{{- page.title -}} - {{- site.title -}}</title>
   </head>
   <body class="{%- for cl in page.bodyclass -%}{{- cl -}} {%- endfor -%}">
      {%- include header.html -%}
      {{- content -}}
      {%- include footer.html -%}
   </body>
</html>
